<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>HarbourOS Admin</name>
  <service>
    <type>_http._tcp</type>
    <port>8080</port>
    <txt-record>path=/</txt-record>
  </service>
  <service>
    <type>_plexmediasvr._tcp</type>
    <port>32400</port>
  </service>
</service-group>
