[Unit]
Description=Update Plex Media Server
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/harbouros-plex-update.sh
