[Unit]
Description=Weekly Plex Media Server update

[Timer]
OnCalendar=Fri *-*-* 01:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
