[Unit]
Description=Automatic OS package updates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/harbouros-os-update.sh
